body {
    background-color: rgba(255, 229, 72, 1);
    color: rgba(151, 45, 7, 1);
    font-family: 'Poppins', sans-serif;
    margin: 0 125px;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

header, footer, img, figure, h1, h2 {
    text-align: center;
}

header, footer {
    margin: 25px 0;
}

a {
    color: rgba(255, 75, 62, 1);
    text-decoration: none;
}

a:visited {
    color: rgba(255, 25, 152, 0.2);
}

a:hover {
    color:rgba(255, 155, 12, 1);
}

table tr:nth-child(odd) {
    background-color: rgba(245, 178, 15, 1);
}

table tr:nth-child(even) {
    background-color: rgba(235, 209, 52, 0.7);
}

table tr:first-child {
    background-color: rgba(255, 128, 15, 1);
}