:root {
    --cornell-red: #b3001bff;
    --seal-brown: #582707ff;
    --pearl: #e7dfc6ff;
    --vista-blue: #7ea3ccff;
    --selective-yellow: #ffb20fff;
}

body {
    background-color: var(--selective-yellow);
    color: var(--seal-brown);
    font-family: 'Poppins', sans-serif;
    margin: 0 125px;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

header, footer, img, figure, h1, h2 {
    text-align: center;
}

header, footer {
    margin: 25px 0;
}

a {
    color: var(--cornell-red);
    text-decoration: none;
}

a:visited {
    color: var(--cornell-red);
}

a:hover {
    color: rgba(247, 28, 12, 1);
}

table tr:nth-child(odd) {
    background-color: var(--seal-brown);
    color: var(--pearl);
}

table tr:nth-child(even) {
    background-color: var(--vista-blue);
}

table tr:first-child {
    background-color: var(--cornell-red);
    color: var(--pearl);
}

form button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

form select {
    font-size: 2rem;
}

form select, form input, form button {
    background-color: var(--pearl);
    color: var(--cornell-red);
    border-color: var(--vista-blue);
}

form, form select, form input {
    font-family: 'DM Serif Display', serif;
}