body {
    background-color: rgba(255, 229, 72, 1);
    color: rgba(151, 45, 7, 1);
    font-family: 'Poppins', sans-serif;
    margin: 0 125px;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

header, footer, img, figure, h1, h2 {
    text-align: center;
}

header, footer {
    margin: 25px 0;
}