/* CSS HEX */
--cornell-red: #b3001bff;
--seal-brown: #582707ff;
--pearl: #e7dfc6ff;
--vista-blue: #7ea3ccff;
--selective-yellow: #ffb20fff;

/* CSS HSL */
--cornell-red: hsla(351, 100%, 35%, 1);
--seal-brown: hsla(24, 85%, 19%, 1);
--pearl: hsla(45, 41%, 84%, 1);
--vista-blue: hsla(212, 43%, 65%, 1);
--selective-yellow: hsla(41, 100%, 53%, 1);

/* SCSS HEX */
$cornell-red: #b3001bff;
$seal-brown: #582707ff;
$pearl: #e7dfc6ff;
$vista-blue: #7ea3ccff;
$selective-yellow: #ffb20fff;

/* SCSS HSL */
$cornell-red: hsla(351, 100%, 35%, 1);
$seal-brown: hsla(24, 85%, 19%, 1);
$pearl: hsla(45, 41%, 84%, 1);
$vista-blue: hsla(212, 43%, 65%, 1);
$selective-yellow: hsla(41, 100%, 53%, 1);

/* SCSS RGB */
$cornell-red: rgba(179, 0, 27, 1);
$seal-brown: rgba(88, 39, 7, 1);
$pearl: rgba(231, 223, 198, 1);
$vista-blue: rgba(126, 163, 204, 1);
$selective-yellow: rgba(255, 178, 15, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-right: linear-gradient(90deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-bottom: linear-gradient(180deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-left: linear-gradient(270deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-top-right: linear-gradient(45deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-bottom-right: linear-gradient(135deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-top-left: linear-gradient(225deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-bottom-left: linear-gradient(315deg, #b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);
$gradient-radial: radial-gradient(#b3001bff, #582707ff, #e7dfc6ff, #7ea3ccff, #ffb20fff);