/* Coolors Exported Palette - https://coolors.co/582707-972d07-ff4b3e-ffb20f-ffe548 */

/* CSS HEX */
--seal-brown: #582707ff;
--brown: #972d07ff;
--tomato: #ff4b3eff;
--selective-yellow: #ffb20fff;
--maize: #ffe548ff;

/* CSS HSL */
--seal-brown: hsla(24, 85%, 19%, 1);
--brown: hsla(16, 91%, 31%, 1);
--tomato: hsla(4, 100%, 62%, 1);
--selective-yellow: hsla(41, 100%, 53%, 1);
--maize: hsla(51, 100%, 64%, 1);

/* SCSS HEX */
$seal-brown: #582707ff;
$brown: #972d07ff;
$tomato: #ff4b3eff;
$selective-yellow: #ffb20fff;
$maize: #ffe548ff;

/* SCSS HSL */
$seal-brown: hsla(24, 85%, 19%, 1);
$brown: hsla(16, 91%, 31%, 1);
$tomato: hsla(4, 100%, 62%, 1);
$selective-yellow: hsla(41, 100%, 53%, 1);
$maize: hsla(51, 100%, 64%, 1);

/* SCSS RGB */
$seal-brown: rgba(88, 39, 7, 1);
$brown: rgba(151, 45, 7, 1);
$tomato: rgba(255, 75, 62, 1);
$selective-yellow: rgba(255, 178, 15, 1);
$maize: rgba(255, 229, 72, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-right: linear-gradient(90deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-bottom: linear-gradient(180deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-left: linear-gradient(270deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-top-right: linear-gradient(45deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-bottom-right: linear-gradient(135deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-top-left: linear-gradient(225deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-bottom-left: linear-gradient(315deg, #582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);
$gradient-radial: radial-gradient(#582707ff, #972d07ff, #ff4b3eff, #ffb20fff, #ffe548ff);